.main {
  margin: 0 auto;
  max-width: 1440px;
  padding: 45px 81px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 67px 75px;
  justify-items: center;
}
