.main {
  margin: 0 auto;
  max-width: 1440px;
  padding: 45px 81px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 67px 75px;
  justify-items: center;
}

.searchSection {
  display: flex;
  justify-content: space-between;
}

.searchInput {
  border: none;
  border-radius: 5px;
  width: 480px;
  height: 56px;
  background: #fff;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  padding-left: 74px;
  color: #848484;
}

.searchInput:focus {
  outline: none;
}
.search {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 32px;
}

.region {
  border: none;
  width: 200px;
  height: 56px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: 0px 10px;
  border-right: 10px solid transparent;
}

.region:focus {
  outline: none;
}
