.header {
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1440px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 81px;
}

.title {
  font-size: 24px;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.icon {
  margin-right: 8px;
}

@media (max-width: 870px) {
  .wrapper {
    padding: 0px 16px;
  }
  .title {
    font-size: 14px;
  }
  .button {
    font-size: 12px;
  }
}
